.standard-game-text-area-frame{
  width: 70%;
  margin: auto;
  border: 3px solid rgba(0,0,0,0.5);
  background-color: white;
  height: 180px;
  overflow-y: hidden;
  color: black;

  .standard-game-text-area-container{
    box-shadow: 0px 0px 5px black;
    padding: 7px;
    height: 100%;

    .wide-span{
      display: inline-block;
      width: 50%;
    }

    .char{
      font-size: 20px;
    }

    .space-char{
      display: inline-block;
      width: 7px;
    }
  }
}
