.game-picker-container{
    display: flex;
    height: 100%;

    .arrow-container{
      flex: 5;
      height: 100%;
      opacity: 0.9;

      img{
        $image-size: 50px;
        width: $image-size;
        height: $image-size;
        cursor: pointer;
        padding: 124px 4px;
        transition: background-color 0.15s;

        &:hover{
          background-color: rgba(0,255,0,0.2);
        }
      }
    }

    .games{
      display: flex;
      flex: 90;
      height: 100%;
    }
}
