.game-picker-container{
  height: 100%;

  .games{
    display: flex;
    flex: 90;
    height: 85%;
    border-bottom: 1px solid black;
  }

  .arrow-frame{
    display: flex;
    height: 15%;

    .arrow-container{
      flex: 1;
      text-align: center;

      .highlighter{
        transition: background-color 0.15s;
        height: 100%;
        cursor: pointer;

        &:hover{
          background-color: rgba(0,255,0,0.2);
        }
      }
      img{
        display: block;
        height: 100%;
        margin: auto;
      }
    }
  }
}
