.game-picker-container{
    display: flex;
    height: 100%;

    .arrow-container{
      flex: 1;
      height: 100%;
      opacity: 0.9;
    }

    .games{
      flex: 8;
      background-color: black;
      height: 100%;
    }
}
