.menu-option-container{
  flex: 1;
  height: 100%;
  text-align: center;
  cursor: pointer;

  h3{
    height: 100%;
    line-height: 50px;
    margin: 0;
    white-space: nowrap;
    text-transform: capitalize;
    box-sizing: border-box;
  }

  .selected{
    border-bottom: 5px solid rgba(0,255,0,0.8);
  }

  .deselected{
    border-bottom: 5px solid transparent;
    transition: border-bottom 0.5s;

    &:hover{
      border-bottom: 5px solid rgba(0,255,0,0.5);
    }
  }
}
