.home-page-container{
  padding: 0 15%;

  .frame{
    margin: 30px;
    border: 1px solid black;
  }

  .keyboard-frame{
    text-align: center;
    height: 200px;
    position: relative;
  }

  .games-frame{
    height: 300px;
  }
}
