.key-container{
  position: relative;
  width: 25px;
  height: 28px;
  padding: 0.5px 1px 1px 1px;
  z-index: -1;

  .inner-border{
    position: absolute;
    width: 15px;
    height: 18px;
    background-color: #d3d3d3;
    z-index: 1;
    padding: 4px;
    margin-left: 0.4px;
    border: 1px solid black;
  }
}
