@mixin basic-key-container() {
  position: relative;
  z-index: -1;
}

@mixin basic-inner-border() {
  position: absolute;
  z-index: 1;
  background-color: #d3d3d3;
  border: 1px solid black;
}

.char-key-container{
  @include basic-key-container();
  width: 25px;
  height: 28px;
  padding: 0.5px 1px 1px 1px;

  .char-inner-border{
    @include basic-inner-border();
    width: 15px;
    height: 18px;
    padding: 4px;
    margin-left: 0.4px;
  }
}

.space-key-container{
  @include basic-key-container();
  width: 125px;
  height: 28px;
  padding: 0.5px 1px 1px 1px;

  .space-inner-border{
    @include basic-inner-border();
    width: 115px;
    height: 18px;
    padding: 4px;
    margin-left: 0.4px;
  }
}
