@mixin basic-key-container() {
  box-sizing: border-box;
  position: relative;
  z-index: -1;
  padding: 0.5px 1px 1px 1px;
  height: 29px;
}

@mixin basic-inner-border() {
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  background-color: #d3d3d3;
  border: 1px solid black;
  padding: 4px;
  height: 25px;
}

.char-key-container{
  @include basic-key-container();
  width: 25px;

  .char-inner-border{
    @include basic-inner-border();
    width: 21px;
    margin-left: 0.4px;
  }
}

.space-key-container{
  @include basic-key-container();
  width: 125px;

  .space-inner-border{
    @include basic-inner-border();
    width: 121px;
    margin-left: 0.4px;
    margin-top: 0.6px;
  }
}

.shift-key-container{
  @include basic-key-container();
  width: 50px;

  .shift-inner-border{
    @include basic-inner-border();
    width: 46px;
    margin-left: 0.4px;
  }
}
