.keyboard-container{
  width: 0;
  margin: 0 50%;
  height: 100%;

  .key-h{
    left: 0px;
    top: 50px;
  }

  .key-g{
    left: -40px;
    top: 81px;
  }

  .key-b{
    top: 50px;
  }

  .key-shift{
    left: -150px;
  }
}
