@mixin basic-key-container() {
  box-sizing: border-box;
  position: relative;
  z-index: -1;
  padding: 0.5px 1px 1px 1px;
  height: 34px;
  border-radius: 5px;
}

@mixin basic-inner-border() {
  font-family: verdana;
  box-sizing: border-box;
  position: absolute;
  z-index: 1;
  border-radius: 5px;
  padding: 4px;
  height: 30px;
}

.char-key-container{
  @include basic-key-container();
  width: 34px;

  .char-inner-border{
    @include basic-inner-border();
    width: 30px;
    margin-left: 0.4px;
  }
}

.space-key-container{
  @include basic-key-container();
  width: 150px;

  .space-inner-border{
    @include basic-inner-border();
    width: 146px;
    margin-left: 0.4px;
    margin-top: 0.6px;
  }
}

.shift-key-container{
  @include basic-key-container();
  width: 50px;

  .shift-inner-border{
    @include basic-inner-border();
    width: 46px;
    margin-left: 0.4px;
  }
}

.back-space-key-container{
  @include basic-key-container();
  width: 48px;

  .back-space-inner-border{
    @include basic-inner-border();
    width: 44px;
    margin-left: 0.4px;
  }
}
