@import './key.scss';

.back-space-key-container{
  @include basic-key-container();
  width: 50px;

  .back-space-inner-border{
    @include basic-inner-border();
    width: 46px;
    margin-left: 0.4px;
  }
}
