@import './key.scss';

.shift-key-container{
  @include basic-key-container();
  width: 55px;

  .shift-inner-border{
    @include basic-inner-border();
    width: 51px;
    margin-left: 0.4px;
  }
}
